<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1092641466842-v5765f7rhlcidi91foat17pol6ti1een.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1092641466842-v5765f7rhlcidi91foat17pol6ti1een</string>
	<key>API_KEY</key>
	<string>AIzaSyDI9BrjbXycIDxeMLccQfl8SL1iYG7532E</string>
	<key>GCM_SENDER_ID</key>
	<string>1092641466842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myapp.rntestnotification</string>
	<key>PROJECT_ID</key>
	<string>rntestnotification-e9bf1</string>
	<key>STORAGE_BUCKET</key>
	<string>rntestnotification-e9bf1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092641466842:ios:79ec3c717f5a7f5bf578e3</string>
</dict>
</plist>